.DS_Store
*.log
*.pem
node_modules/

wordpress/main
wordpress/wp-content/*
wordpress/wp-content/themes/*
!wordpress/wp-content/plugins
!wordpress/wp-content/themes
!wordpress/wp-content/themes/blockstudio

